<!DOCTYPE html>
<html ng-app="coffeebirds">
<head>
    <title>Coffeebirds</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="js/ngtweet.min.js"></script>
	<script src="js/app.js"></script>

</head>

<body ng-controller="MainController">
	<div>
	    <h1>Coffeebirds</h1>
	    <h2>Get Mashape Info: {{ term }}</h2>
	    <h2>{{ success }}</h2>
	    <h2>{{ error }}</h2>
	    <label for="twitter_terms">Enter term to search here: <input type="text" id="twitter_terms" ng-model="term" required></label>
	    <button id="execute_response" ng-click="search(term)">Execute Twattering!</button>
	    <div id="loading" ng-if="tog">
	    	<img src="hex-loader2.gif">
	   	</div>
	    <div id="content" ng-repeat="cluster in clusters">
		    <pre>{{ cluster }}</pre>
	    </div>
	    <div>
		    <pre>{{ cleanTweets }}</pre>
	    </div>
	    <div>
		   <twitter-widget twitter-widget-id="'617749885933232128'"></twitter-widget>
	    </div>
	</div>
</body>
</html>